/* navbar */
.navbar-brand {
  color: rgb(0, 0, 0) !important;
  font-weight: bold;
  font-size: 1rem;
}

.nav-item {
  font-weight: bold;
  font-size: 1rem;
}

#welcome {
  font-size: 1.3rem;
  font-weight: bold;
}

/* news */
#news-container,
#button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.9rem;
}

.card-body,
.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center; 
}

/* end */
footer {
  font-weight: bold;
  font-size: 1rem;
}